<div class="body">
    <div class="home">
        <p>Hallo, ich bin ein passionierte Unterwasserphotograf.</p>
        <p>
            Herzlich Willkommen in meiner Photosammlung. Ich liebe es die
            Unterwasserwelt zu beobachten, heute gehe ich nicht mehr ohne meinen
            Photoapparat tauchen und ich freue mich mit Euch meine Arbeit zu
            teilen.
        </p>
        <p>
            Also viel Spass, gerne könnt Ihr mit mir Kontakt zum Austauschen
            aufnehmen:
            <a href="mailto:contact@olifish.com" class="contact">mein Kontakt</a
            >.
        </p>
        <p>Olivier Colli</p>
        <p>contact@olifish.com</p>
    </div>
    <section class="gallery">
        <h2>Meine galerien :</h2>
        {galleries}
    </section>
</div>
